@media screen and (max-width:1500px){
    
}

@media screen and (max-width:1199px){
    
   
}

@media screen and (min-width: 992px){
   
}

@media screen and (max-width:991px){
    .container{
        width: 98% !important;
    }
}

@media screen and (max-width:768px){

  .container-fluid{
    width: 93%;
  }

  .container {
    width: 93%;
  }

  .header .main-nav .navbar-brand {
      min-width: auto;
      text-align: center;
      position: relative;
      left: -3px;
  }

  .main-nav .nav .nav-item a {
      display: inline-block;
      padding-top: 2px;
      padding-bottom: 2px;
  }
  .main-nav .nav .nav-item {
      margin-right: 0px;
      margin: 0;
  }

  .navbar-collapse {
      padding: 1.5rem 0;
  }

  .section .section-title.xl {
    font-size: 27px;
    line-height: 32px;
}
    .container {
        padding: 0 15px !important;
    }

    .hero .caption-box {
      margin-top: 2.5rem;
    }

  .subcap-text{
    padding: 0 1rem;
    line-height: 1.4rem !important;
  }

  .subcap-text p, .subcap-text p span,
  .subcap-text .fs-30 {
    font-size: 20px !important;
  }

  .hero .subcap-text{
    letter-spacing: -2px;
  }

  .bounce-fx, .bounce-tx {

    -webkit-animation-iteration-count: unset !important;
    -moz-animation-iteration-count: unset !important;
    animation-iteration-count: unset !important;
  }

  .rotate {
    -webkit-animation-iteration-count: unset !important;
    -moz-animation-iteration-count: unset !important;
    animation-iteration-count: unset !important;
  }

  img.coin-left {
    width: 145px;
    bottom: 14rem;
    margin-left: -17rem;
  }

  .white-blob {
    margin-top: 2rem;
  }

  img.splash-light {
    width: 1500px;
    bottom: -44rem;
    height: auto;
    right: -34.5rem;
    max-width: unset !important;
  }

  img.top-stars {
    width: 1293px;
    left: -54rem;
    max-width: unset !important;
  }

  .subcap-text span{
    font-size: 22px !important;
  }

  img.coin-right {
    right: -5rem;
  }

  img.shiny {
    width: 729px;
    position: absolute;
    bottom: -8.5rem;
    right: -7rem;
    max-width: unset;
  }
   
}

@media (max-width: 767px){

    .ui-hide-mobile-only{
        display: none !important;
    }

    .ui-show-mobile-only{
        display: block !important;
    }

    .hero .caption, .hero .caption span {
        margin-top: 3rem !important;
        font-size: 42px;
        line-height: 52px;
    }

    .hero.hero-home .hero-inner,
    .hero .hero-inner {
      height: auto;
      padding: 5rem 0;
    }

}

@media screen and (min-width: 600px){
    
}

@media (min-width: 576px){


}

@media (max-width:576px){

  .hero-section h1{
    text-align: left !important;
    margin-left: 2px;
    font-size: 40px !important;
  }

  .hero .caption.sm, .hero .caption.sm span {
    font-size: 36px !important;
    line-height: 37px !important;
  }

  .subcap-text p, .subcap-text p span,
  .subcap-text .fs-30 {
    font-size: 18px !important;
  }

  .hero .subcap-text{
    letter-spacing: -2px;
  }

  .bounce-fx, .bounce-tx {

    -webkit-animation-iteration-count: unset !important;
    -moz-animation-iteration-count: unset !important;
    animation-iteration-count: unset !important;
  }

  .rotate {
    -webkit-animation-iteration-count: unset !important;
    -moz-animation-iteration-count: unset !important;
    animation-iteration-count: unset !important;
  }

  img.coin-left {
    width: 145px;
    bottom: 14rem;
    margin-left: -17rem;
  }

  .white-blob {
    margin-top: 1.5rem;
  }

  img.splash-light {
    width: 1500px;
    bottom: -44rem;
    height: auto;
    right: -34.5rem;
    max-width: unset !important;
  }

  img.top-stars {
    width: 1293px;
    left: -54rem;
    max-width: unset !important;
  }

  .subcap-text span{
    font-size: 22px !important;
  }

  img.coin-right {
    right: -5rem;
  }

  

}

@media (max-width:375px){

  .hero .caption-sub {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-top: 7rem;
  }
    
  .hero .caption.sm, .hero .caption.sm span {
  font-size: 36px;
  line-height: 56px;
  }

  

  .btn.mini {
    padding: 0.2rem 0.5rem;
    min-width: 41px;
    font-size: 11px;
}
}
